.image>img{
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.image{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    
    padding-bottom: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7) ;
}
